<div class="compatibility-popup" aria-hidden id="compatPopUp">
  <div class="compatibility-message">
    <p class="compatibility-title">Thank You</br> for Visiting our Site</p>
    <p class="compatibility-subtitle">Unfortunately, we do not support your browser. To continue using our website, please switch to a modern browser. These include <a href="https://www.apple.com/safari/" rel="noreferrer noopener" target="_blank">Safari</a>, <a href="https://www.microsoft.com/en-us/edge" rel="noreferrer noopener" target="_blank">Edge</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" rel="noopener noreferrer" target="_blank">Firefox</a>, and <a href="https://www.google.com/chrome/" target="_blank" rel="noopener noreferrer">Chrome</a>.</p>
  </div>
  <div class="compatibility-backdrop"></div>
</div>